/* Главная менюшечка */
body    {
            height:100%;
            background-color: whitesmoke;
            width:100%;
/*            min-width:1024px;*/

        }
.header {
            padding: 0px;
            margin:0px;
            width: 98.3%;
            min-width:800px;
            height:4em;
            background-color: azure;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 3px 3px 3px 3px black;
        }

.top-menu {
            margin:2px;
            padding:5px;
            list-style-type: none;
        }

.top-menu > li{
            margin:5px;
            padding:10px;
            float:left;
            width:120px;
            border: 1px solid black;
            border-radius: 10px;
        }
.top-menu > li >a {
            text-decoration: none;
        }
.top-menu > li:hover{
            background-color: aqua;
            color:azure;

        }
.conteyner{
            width:98.3%;
            min-width: 800px;
            position: relative;
/*            min-height:340px;
            height:100%;
    border: 1px solid black;*/
            float:left;

}

.left-box{
            margin-top:10px;
            margin-left:0px;
            margin-right:0px;
            padding: 10px;
            width:15%;
            background-color: azure;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 3px 3px 3px 3px black;
            float:left;
        }

.inner-left-box {
    margin:0px;
    padding:3px;
    border: 1px solid black;
    border-radius: 5px;
        }
.prcnt30{
    width:32.5%;
    float:left;
    hight:5;
}
.prcnt30a{
    width:auto;
    float:left;
    hight:5;
}
.content-box{
            margin-top:10px;
            margin-left:10px;
            padding: 10px;
            width:calc(85% - 54px);
            min-width: 400px;
            background-color: azure;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 3px 3px 3px 3px black;
            float:left;
    }

/*футер */
.foot   {
            width: calc(98.3% - 20px);

            margin-top:10px;
            padding: 10px;
            background-color: azure;
            border:  1px solid black;
            border-radius: 10px;
            box-shadow: 3px 3px 3px 3px black;
            float:left;
        }

#version {
    text-align: right;
}

/*
Форма регистрации
 */
.wlcm{
    text-align: center;
}

table caption{
    text-align: center;
    font-size:large;
    margin: 4px;
}

/*#add_info{width:100%;
}
*/
#logtable,#regtable , #edapplicationtable  {
            border-spacing:4px 4px;
            width:calc(100% - 0px);

            border: 1px solid black;
        }


#bd{height: 1ex;}

.selreg{
/*    width:23ex;*/
    width:calc(100% - 0px);

}
.inpreg{
/*    width:20ex;*/
    width:calc(100% - 19px);
}

.inpbd{
    width:calc(100% - 19px);
}


.currentpage{
    background-color:aqua;
}
.pagerow{
    text-align: center;
    margin-top: 20px;
}
.nextprew{
    margin-left: 4ex;
    margin-right: 4ex;
}
#ulisttable, #zlisttable{
    border: 1px solid black;
    text-align: left;
    border-spacing:4px 4px;
    width: 96%;

}
/*Добавление заявки*/
.rowcenter{text-align: center;}
#date_from , #date_to, #dline_issue , #dline_decision{
    height: 1ex;

}
.headulist{

}
/*
#theme{
    width:96%;

}
#type_sc{
    width:100%;
}
.inpapp{
    width:20ex;
}
.selapp{
    width:23ex;
}
*/
.backbutton
{
    text-align: center;
}

