{% extends "BasePage.html" %}
{% block content %}

    <script type="text/javascript">
    function validateForm()
    {
        var errstr = "", dateto, datefrom, dlinedecision , isvalid;
        isvalid=true;

        dateto=new Date(document.forms["ed_application"]["date_to"].value);
        datefrom=new Date(document.forms["ed_application"]["date_from"].value);
        dlinedecision=new Date(document.forms["ed_application"]["dline_decision"].value);

        if(dateto<datefrom)
        {
            isvalid=false;
            errstr+="Дата начала конференции должна быть раньше даты окончания\n";
            document.forms["ed_application"]["date_from"].focus();
        }

        if (dlinedecision<datefrom)
        {
            isvalid=false;
            errstr+="Срок принятия ешения не может быть ранее " +
                "даты начала конференции\n";

            document.forms["ed_application"]["dline_decision"].focus();
        }


        if (!isvalid) alert(errstr);
        return isvalid;
    }

    function chstatus()
    {

	    var select = document.getElementById("statapp");
	    var value = select.value;

	    if (value==1) {
            if (!confirm("вы действительно хотите преобразовать заявку в конференцию?")) {
                select.value = 0
            }
        }
        else if (value==2)
            if (!confirm("вы действительно хотите отказать в создании конференцию?")) {
                select.value = 0
            }

    }
    </script>

    <script src={{url_for('static', filename='ckeditor/ckeditor.js') }}></script>

    <div>
    <form id="loadissue_frm" action="" enctype="multipart/form-data" method="post" class="loadissue_frm">
<!--          <center>
            <fieldset class ="fst" >
-->            <input hidden value="{{ session.iss_id_issue }}" id="id_issue" type="text" name="id_issue">

                    <table id = "loadissue">
                        <caption >Редактирование публикации</caption>
                        {% if session['errstr_loadissue']!=""  %}
                            <caption>{{ session.errstr_loadissue }}</caption>
                        {% endif %}
                        <tr>
                            <td>
                                <label for="date_create">Дата публикации</label>
                            </td>
                            <td>
                                <input class="inpis" required tabindex="5" value="{{ session.app_date_from }}" id="date_create" type="date" name="date_create" title="дата первой публикации работы" {{ session.is_disabled }}>
                            </td>
                            <td>
                                <label for="date_load">дата загрузки</label>
                            </td>
                            <td>
                                <input  class="inpis" value="{{ session.is_date_load }}" required tabindex="6" id="date_load" type="date" name="date_load"  {{ session.app_disabled }}>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="inpfile">Укажите файл для загрузки</label>
                            </td>
                            <td >
                                 <input class="inpfile" autofocus required tabindex="1" id="inpfile" type="file" name="inpfile"  >
                            </td>
                        </tr>
                        <tr class="rowcenter">
                            <td colspan="2" >
                                <input type="submit" tabindex="13" value="Отправить" name="subapp" {{ session.app_disabled }}>
                            </td>

                            <td colspan="2" >
                                 <input type="button" tabindex="14" value="Отмена" name="break" onclick="location.href='javascript:history.go(-1)' ">
                            </td>
                        </tr>


                    </table>


<!--
            </fieldset>
<!--         </center>
-->
        </form>
     <script>

         CKEDITOR.replace( 'descr_konf' );
         CKEDITOR.replace( 'orgcom' );

     </script>

    </div>
{% endblock %}
