{% extends "BasePage.html" %}
{% block content %}

    <script type="text/javascript">
    function accept_onclick()
    {
        /* console.log("Выполняем"); */
        if (!confirm("Вы действительно хотите удалить публикацию?")) return false;
        else return true;
    }

    </script>

    <div>
    <form id="islist" action="" method="post" class="islist">
<!--          <center>
            <fieldset class ="fst" > -->
                    <input hidden value="{{ session.id_member }}" id="id_member" type="text" name="id_member">
                    <input hidden value="{{ session.id_conf }}" id="id_conf" type="text" name="id_conf">

                    <table id = "cflisttable">
                        <caption>Список публикаций конференции <br/> <a href="/add_issue/" >Добавить публикацию</a> </caption>

                            <tr>
                                <th>
                                    Наименование публикации
                                </th>
                                <th>
                                    Автор/авторы
                                </th>

                                <th>
                                    Код УДК
                                <th>
                                    Действия
                                </th>

                            </tr>
                            <tfoot>
                                <tr>
                                <td colspan="6">
                                    <div class="pagerow">

                                        {% if (session['islist_nompage']==1) %}
                                            <a class='nextprew' href='/listissue/1/{{session.id_application}}'>Пред</a>
                                        {% else %}
                                            <a class='nextprew' href='/listissue/{{ session.islist_nompage-1 }}/{{session.id_application}}'>Пред</a>
                                        {% endif %}

                                        {% for pg in session['nmispages'] %}
                                            {% if pg!=session['islist_nompage'] %}
                                                <a class='page' href='/listissue/{{ pg}}/{{session.id_application}}'>{{ pg }}</a>
                                            {% else %}
                                                <a class="currentpage" href='/listissue/{{ pg}}/{{session.id_application}}'>{{ pg }}</a>
                                            {% endif %}

                                        {% endfor %}

                                        <a class='nextprew' href='/listissue/{%if session.islist_nompage>=session.maxispages%}{{session.maxispages}}{% else %}{{ session.islist_nompage+1}}{%endif%}/{{session.id_application}}'>След</a>
                                    </div>
                                </td>
                                </tr>
                            </tfoot>

                            {% for s in session.islist %}
                                <tr>
                                    <td>
                                         <a href='/editissue/{{ s[0]}}'>{{ s[1] }}</a> <!-- тема -->
                                    </td>
                                    <td>
                                        <a href='/editissue/{{ s[0]}}'>{{ s[2] }}</a>   <!-- организация -->
                                    </td>

                                    <td>
                                        <a href='/editissue/{{ s[0]}}'> {{ s[5] }}</a>   <!--!compname -->
                                    </td>
                                    <td>
                                        <a href='/editissue/{{ s[0]}}'>{{ s[8] }}</a>   <!-- дата подачи статей-->
                                    </td>
                                    <td>
                                        <a href='/editissue/{{ s[0]}}'>{{ s[7] }}</a>  <!-- конт лицо-->
                                    </td>
                                    <td>
                                        
                                        <a href='/discus_is/{{ s[0]}}' >Обсуждение публикации</a>
                                        <a href='/editissue/{{ s[0]}}' >Изменить публикацию</a>
                                        <a href='/deleteis/{{ s[0]}}' onclick='return accept_onclick()'>Удалить</a>
                                    </td>

                                </tr>

                            {% endfor %}




                    </table>


<!--            </fieldset>
         </center>
-->
        </form>
    </div>
{% endblock %}